@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
	--dark-01: #131313;
	--dark-02: #424242;
	--dark-03: #727272;
	--dark-04: #a1a1a1;
	--dark-05: #d0d0d0;
	--dark-06: #e7e7e7;
	--dark-07: #f3f3f3;
	--white-color: #fff;
}
button{
	text-align: center;
}
.btn{
	padding: 21px 25px;
font-weight: 600;
font-size: 20px;
color: var(--white-color);
border: none;
border-radius: 8px;
background-color:#FF900E;
align-items: center;


}
body{
  font-family: "Work Sans", sans-serif;
}
/* basic css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
   text-decoration: none;
}
ul,li{
  list-style: none;
}
header{
	width: 1340px;
	margin: 0 auto;
	background: rgba(255, 144, 14, 0.1);
}
main{
	width: 1340px;
	margin: 0 auto;
}
/* navber start */
.navber{
	display: flex;
	justify-content: space-between;
}
.navber h3{
font-weight: 700;
font-size: 45px;
color: var(--dark-01);
margin: 60px 0 105px;
}
.list-item{
	display: flex;
	gap: 30px;
	margin: 60px 0 105px;
}
.list-item li a{
font-weight: 500;
font-size: 18px;
line-height: 144%;
color: var(--dark-02);
}
/* navber end */
/* banner section start */
.banner-cnt{
	text-align: center;
}
#banner .banner-cnt h1{
font-weight: 700;
font-size: 64px;
color: var(--dark-01);
}
#banner .banner-cnt p{
font-weight: 400;
font-size: 16px;
line-height: 162%;
color: var(--dark-03);
margin: 32px 0;
}
#banner img{
	width: 100%;
	margin: 50px 0 34px;
}
/* banner section end */

/* features section start */
#features{
	display: flex;
	align-items: center;
}
#features .features-img{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
	margin: 96px 0 130px;
}
#features .features-cnt{
	margin-left: 130px;
}
#features .features-cnt h3{
font-weight: 500;
font-size: 45px;
color: var(--dark-03);
}
#features .features-cnt p{
font-weight: 400;
font-size: 16px;
line-height: 162%;
color: var(--dark-03);
margin: 24px 0 32px;
}
/* features section end */
/*  some facts section start */
#some-facts h3{
font-weight: 700;
font-size: 45px;
color: var(--dark-01);
}
#some-facts p{
font-weight: 400;
font-size: 16px;
line-height: 162%;
color: var(--dark-03);
margin: 24px 0 100px ;
}
#some-facts .all-cards{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
#some-facts .all-cards .card{
	display: flex;
border: 1px solid #ff900e;
border-radius: 8px;
width: 241px;
height: 241px;
margin-bottom: 100px;
justify-content: center;
align-items: center;
text-align: center;
}
#some-facts .all-cards .card h5{
font-weight: 600;
font-size: 45px;
color: var(--dark-02);
}
#some-facts .all-cards .card p{
font-weight: 600;
font-size: 20px;
color: var(--dark-03);
}
/*  some facts section end */

@media screen and (max-width:576px) {
	.navber{
    flex-direction: column;
		text-align: center;
	}
  .list-item,
	#features{
		flex-direction: column;
	}
	#features .features-img{
		grid-template-columns: repeat(1, 1fr);
	}
	#features .features-cnt{
		text-align: center;

	}
}
@media screen and (min-width:576px) and (max-width:992px) {
	.navber{
    flex-direction: column;
		text-align: center;
		align-items: center;
	}
	#banner .banner-cnt{
		align-items: center;
    width: 100%;	
	}
	.list-item,
	#features{
		flex-direction: column;
	}
	#features .features-img{
		grid-template-columns: repeat(2, 1fr);
	}
	#features .features-cnt{
		text-align: center;

	}
	#some-facts .all-cards{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		
	}	
}