@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
	--dark-01: #131313;
	--dark-02: #424242;
	--dark-03: #727272;
	--dark-04: #a1a1a1;
	--dark-05: #d0d0d0;
	--dark-06: #e7e7e7;
	--dark-07: #f3f3f3;
	--white-color: #fff;
}
body{
  font-family: "Work Sans", sans-serif;
}
/* basic css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
   text-decoration: none;
}
ul,li{
  list-style: none;
}
header{
	width: 1340px;
	margin: 0 auto;
	background: rgba(255, 144, 14, 0.1);
}
/* navber start */
.navber{
	display: flex;
	justify-content: space-between;
	margin: 60px 0 105px;
}
.navber h3{
font-weight: 700;
font-size: 45px;
color: var(--dark-01);
}
.list-item{
	display: flex;
	gap: 30px;
}
.list-item li a{
font-weight: 500;
font-size: 18px;
line-height: 144%;
color: var(--dark-02);
}
/* navber end */
